@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --bgPrimary: 255 255 255;
  --bgSecondary: 248 250 253;
  --dBlack: 34 37 49;

  .bg-bgPrimary {
    background-color: rgb(255 255 255 / 1);
  }
  
  .bg-bgSecondary {
    background-color: rgb(248 250 253 / 1);
  }

  .text-dBlack {
    color: rgb(34 37 49 / 1);
  }
}

.dark{
  .bg-bgPrimary {
    background-color: rgb(22 24 27 / 1);
  }
  
  .bg-bgSecondary {
    background-color: rgb(28 30 38 / 1);
  }

  .text-dBlack {
    color: rgb(255 255 255 / 1);
  }
}
